*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

.navbar-contact__left a .fa,.fab{
    color: black;

}

.navbar-contact{
    background: lightgrey;
    display: flex;
    width: 100%;
    height: 40%;
    line-height: 40px;

}
.navbar-contact__left{
    width: 50%;
    text-align: right;

}
.navbar-contact__left a{
    text-decoration: none;
    margin-left: 0.5em;
}

.navbar-contact__right{
    width: 50%;

}
.contact-info{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-right: 1em;
}

.navbar-main{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid lightgrey;

}

.navbar-main__homelink{
    width: 50%;
    margin: 1em 0;

}
.navbar-main__navlink {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    margin: 2em 0;


}

.navbar-list .navbar-list__items{
    display: inline-block;
    list-style: none;
}

.navbar-main__homelink a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-main__homelink a .travel{
    margin-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.7em;
}

.navbar-list__items a{
    display: flex;
    line-height: 2em;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    margin-left: 2em;
}

.navbar-list__items a:hover{
    color: orange;
    transition: all 3ms ease;
}

.helpCenter-btn{
    background-color: orange;
    line-height: 1.5em;
    margin-right: 10px;
    border-radius: 100px;
    border: 5px solid orange;
    color: white;
}
.helpCenter-btn:hover{
    background-color: black;
    border: 5px solid black;
    transition: all 1s ease ;

}
.header {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/banner1.jpg") center/cover no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.banner-title{
    color: white;
    letter-spacing: 0.3em;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: antiquewhite 1px 1px;
}
.banner-subtitle{
    color: white;
    letter-spacing: 0.2em;
    margin-top: 1.5em;
}
.banner-btn{
    margin-top: 1.5em;
}

.banner-btn > button{
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 100px;
    height: 60px;
    width: 200px;
    letter-spacing: 0.1em;
    font-size: 1em;
    transition: all .2s ease-in-out;
}

.banner-btn > button:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.clearfix{
    clear: both;
}



.bestValues{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-flow: row wrap;
}
.bestValue{
    width: 300px;
    height: 400px;
    line-height: 1.5em;
    margin: 2em auto;
}

.bestValue-icon > .fas{
    color:  orange;
    margin-top: 2em;

}
.bestValue-title{
    margin-top: 1em;
    letter-spacing: 8px;
    font-size: 24px;
}
.bestValue-description{
    margin-top: 2em;
    letter-spacing: 3px;
}






